@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans.ttf')
}
body {
    font-family: 'Open Sans', 'OpenSans', sans-serif;
    font-size: 16px;
    line-height: 26px;;
    color: #7581a1;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}
.nav {
    font-size: 12px;
    color: #6e7ea9;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-free{
    color: #fff;
    font-weight: 400;
    background-color: #1085e4;
    text-decoration: none;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
}
.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}
.grid-item h3 {
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
}
.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}