@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans.ttf')
}

body {
    font-family: 'Open Sans', 'OpenSans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    ;
    color: #7581a1;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.1;
    letter-spacing: -2.5px;
    max-width: 600px;
    margin-bottom: 65px;
}

.title-h2 {
    font-size: 50px;
    color: #192b59;
    font-weight: 600;
    letter-spacing: -1.5px;
    line-height: 1.2;
}

.title-h2 span {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    color: #1085e4;
    margin-bottom: 14px;
}

.title-40 {
    font-size: 40px;
    letter-spacing: -1.1px;
    color: #192b59;
    font-weight: 600;
    line-height: 1.2;
}

.title-40 span {
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 3.5px;
    display: block;
    text-transform: uppercase;
    font-weight: 800;
    color: #1085e4;
}

.page-stat .title-h2,
.page-screen .title-h2 {
    text-align: center;
    margin: 0 auto;
}

.page-stat .title-h2 {
    max-width: 500px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
}

.logo {
    display: block;
    background-image: url(../img/Home_logo.png);
    width: 181px;
    height: 49px;
}

.nav {
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    color: #6e7ea9;
    text-decoration: none;
}

.nav>li {
    padding: 0 20px;
    letter-spacing: 2px;
}

.screen-img {
    display: block;
    position: absolute;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 895px;
    height: 740px;
    top: 189px;
    right: 0;
}

.btn-primary {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #108be4;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #108be4;
    padding: 20px 40px;
    transition: 0.3s;
}

.btn-primary:hover {
    color: #108be4;
    background-color: #fff;
}

.btn-secondary {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #cbdbe8;
    color: #7e8bae;
    border-radius: 30px;
    border: 1px solid #cbdbe8;
    padding: 20px 40px;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free {
    font-weight: 400;
    padding: 21px 56px;
    letter-spacing: 1.7px;
    transition: 0.3s;
}

.btn-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-info:hover {
    background-color: #fff;
    color: #192b59;
}

.list-company {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1110px;
}

.list-company-item {
    font-display: block;
}

.company-one {
    background-image: url(../img/token.png);
    flex-basis: 198px;
    height: 58px;

}

.company-two {
    background-image: url(../img/magneto.png);
    flex-basis: 200px;
    height: 69px;
}

.company-three {
    background-image: url(../img/boohoo.png);
    flex-basis: 201px;
    height: 47px;
}

.company-four {
    background-image: url(../img/fractal.png);
    flex-basis: 200px;
    height: 69px;
}

.page-subscribe .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-subscribe h2 span {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #00bffe;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.page-subscribe h2 {
    font-size: 50px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: -1.6px;
    margin-top: 0;
    margin-bottom: 25px;
}

.page-subscribe p {
    max-width: 405px;
    font-size: 18px;
    font-weight: 400;
    color: #dfe8ff;
    margin: 45px 0 40px 0;
}

.box-subscribe-user {
    position: relative;
    margin-bottom: 10px;
}

.box-subscribe-user input {
    border: 2px solid #3f5cb1;
    font-size: 14px;
    border-radius: 45px;
    background: transparent;
    padding: 25px 230px 25px 37px;
    width: 100%;
    box-sizing: border-box;
    color: #dce1e5;
}

.box-subscribe-user input:focus, .box-subscribe-user .btn-primary {
    outline: none;
}

.box-subscribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
.box-subscribe-user input::-moz-placeholder          {color:#b1c3ee;}/* Firefox 19+ */
.box-subscribe-user input:-moz-placeholder           {color:#b1c3ee;}/* Firefox 18- */
.box-subscribe-user input:-ms-input-placeholder      {color:#b1c3ee;}

.box-subscribe-child {
    flex-basis: 49%;
}

.box-subscribe-user .btn-primary {
    position: absolute;
    top: 11px; 
    right: 12px;
    padding: 17px 44px;
    letter-spacing: 4px;
}

.img-droid {
    display: block;
}

.btn-group a+a {
    margin-left: 15px;
}

.grid {
    display: grid;
    grid-template-areas: "a b c"
                         "d b c"
                         "d f g"
                         "e f g"
                         "e h h";
    max-width: 1110px;
    margin: 0 auto;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-title {
    grid-area: a;
    width: 260px;
    margin: 0;
}

.grid-title span {
    letter-spacing: 3px;
}

.grid-item-1 {
    grid-area: b;
}

.grid-item-2 {
    grid-area: c;
}

.grid-item-3 {
    grid-area: d;
}

.grid-item-4 {
    grid-area: e;
}

.grid-item-5 {
    grid-area: f;
}

.grid-item-6 {
    grid-area: g;
}

.grid-text {
    grid-area: h;
}

.grid-text .author {
    color: #1085e4;
    font-size: 14px;
}

.grid-text .author span {
    color: #000000;
    font-weight: 800;
    letter-spacing: 0.7px;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid-item {
    text-align: center;
    box-shadow: 1px 3px 5px #f4f4f4;
    border-radius: 5px;
    padding: 40px;
}

.grid-item a {
    text-decoration: none;
}

.grid-item h3 {
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
    margin-bottom: 18px;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}

.grid-icon {
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 21px;
    height: 92px;
    display: block;
    margin-top: 14px;
}

.grid-icon-1 {
    background-image: url(../img/doc_icon.png);
    background-size: 73px 79px;
}

.grid-icon-2 {
    background-image: url(../img/highcost_icon.png);
    background-size: 89px 85px;
}

.grid-icon-3 {
    background-image: url(../img/MFD_icon.png);
    background-size: 79px 82px;
}

.grid-icon-4 {
    background-image: url(../img/easytoedit_icon.png);
    background-size: 103px 92px;
}

.grid-icon-5 {
    background-image: url(../img/resdesign.png);
    background-size: 85px 90px;
}

.grid-icon-6 {
    background-image: url(../img/support_icon.png);
    background-size: 100px 87px;
}

.page-softwere-icon {
    display: block;
    background-image: url(../img/setting.png);
    background-repeat: no-repeat;
    width: 115px;
    height: 97px;
}

.softwere-pic {
    display: block;
    width: 937px;
    height: 986px;
    position: absolute;
    background-image: url(../img/Grab_Your_Softwere_img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0px;
    left: -20px;
    bottom: -39px;
}

.page-softwere-flex {
    display: flex;
    justify-content: flex-end;
}

.page-softwere-flex>div{
    flex-basis: 55%;
}

.page-softwere .title-h2 {
    max-width: 557px;
    margin-top: 12px;
    margin-bottom: 26px;
}

.page-softwere-list {
    margin-top: 31px;
    height: 323px;
    overflow: hidden;
    overflow-y: scroll;
}

.page-softwere-list::-webkit-scrollbar { width: 5px; height: 3px;}
/* .page-softwere-list::-webkit-scrollbar-button {  background-color: #666; } */
.page-softwere-list::-webkit-scrollbar-track {  background-color: #f3f6ff;}
.page-softwere-list::-webkit-scrollbar-track-piece { background-color: #f3f6ff;}
.page-softwere-list::-webkit-scrollbar-thumb {height: 50px; background-color: #1085e4; border-radius: 10px;}
.page-softwere-list::-webkit-scrollbar-corner { background-color: #f3f6ff;}
.page-softwere-list::-webkit-resizer { background-color: #f3f6ff;}

.page-softwere-list dt {
    font-weight: 700;
    color: #5a6789;
    margin-bottom: 10px;
}

.page-softwere-list dd {
    margin-left: 0;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 1.8;
}

.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;
}

.list-stat>li {
    color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}

.list-stat>li>span {
    display: block;
    font-size: 60px;
    color: #bacbdc;
    margin-bottom: 23px;
    letter-spacing: 0;
}

.screen {
    margin-top: 36px;
    margin-bottom: -7px;
}

.page-plan .title-40 {
    margin: 0 0 80px 0;
}

.box-price {
    display: flex;
    justify-content: space-between;
}

.box-price-item {
    position: relative;
    background-color: #f5faff;
    flex-basis: 350px;
    padding-bottom: 79px;
}

.box-price-item h3 {
    margin: 91px 0 0 0;
    font-size: 70px;
    letter-spacing: -1.7px;
    color: #192b59;
}

.box-price-item h3 span {
    font-size: 20px;
}

.box-price-item.active {
    background-color: #192b59;
    color: #fff;
}

.box-price-item.active h3 {
    color: #fff;
}

.box-price-item p {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    color: #1085e4;
    letter-spacing: 3px;
}

.box-price-item ul {
    margin: 36px 0 0 0;
    list-style-type: none;
    padding-left: 0;
}

.box-price-item ul li {
    font-size: 14px;
    margin-bottom: 14px;
}

.box-price-item>a {
    display: inline-block;
    margin: 30px 0 0 0;
    box-sizing: content-box;
    padding: 17px 61px;
}

.box-price-item.third::before {
    content: url(../img/third.png);
    position: absolute;
    top: 0;
    right: 0;
}

/* PAGE -- (s) */

.page-header {
    background-image: url(../img/background_top.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 330px 0;
    position: relative;
}

.page-company {
    background-color: #108be4;
    background-image: url(../img/page-company.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px 0;
}

.page-grid {
    margin-top: 120px;
    margin-bottom: 120px;
}

.page-subscribe {
    padding: 52px 0 52px 0;
    background: rgba(10, 32, 144, 1);
    background: -moz-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10, 32, 144, 1)), color-stop(100%, rgba(35, 120, 205, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
    background: linear-gradient(135deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1);
}

.page-stat,
.page-screen {
    background-color: #edf6ff;
}

.page-softwere {
    padding: 109px 0 164px 0;
    position: relative;
    overflow: hidden;
}

.page-stat {
    padding: 116px 0 96px 0;
}

.page-plan,
.page-screen {
    text-align: center;
}

.page-screen {
    padding: 80px 0 0 0;
}